<!-- templates/dictionary/search_word.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Search your word here</h2>
    <form method="post" action="{% url 'search_word' %}" >
        {% csrf_token %}
        {{ form.as_p }}
       
        <button type="submit">Search</button>
    </form>

    {% if word_details %}
    <h2>{{ word_details.word }}</h2>
    <p><strong>Meaning:</strong> {{ word_details.meaning }}</p>
    <p><strong>Example:</strong> {{ word_details.example }}</p>
    <p><strong>Synonym:</strong> {{ word_details.synonym }}</p>
    <p><strong>Antonym:</strong> {{ word_details.antonym }}</p>
    {% endif %}
{% endblock %}
